/*  css  */

App {
  font-family: sans-serif;
  text-align: center;
}
.active {
  color: yellow;
}

/* ------------------------------------------------------ */
.monblimain {
  text-align: left;
  list-style-type: none;
  /* position: sticky;
  top: 0px;
  z-index: 999; */
}
.monblimain:hover {
  color: transparent;
  background-color: transparent;
  border: 2px transparent;
  border-color: transparent;
}

.mobnavul {
  text-align: left;
  list-style-type: none;
  background-color: black;
  width: 160px;
  padding: 10px;
  padding-right: 0px;
  border-radius: 10px;
  border: 2px solid;
  border-color: aquamarine;
}
.mobnavul:hover {
  border-color: yellow;
}

.monblimain {
  text-align: left;
  list-style-type: none;
}
.monblimain:hover {
  color: transparent;
  background-color: transparent;
  border: 2px transparent;
  border-color: transparent;
}
.mobnavli {
  padding: 0px;
  margin: 5px;
  margin-right: 10px;
  margin-left: 0px;
  border: 2px solid;
  border-color: aquamarine;
  border-radius: 10px;
  background-color: black;
  color: aquamarine;
}
.mobnavli:hover {
  /* color: yellow; */
  border-color: yellow;
}
/* ----------------------------------------------------------------------- */

li {
  text-align: left;
  padding: 3px;
}
li:hover {
  color: aquamarine;
  background-color: black;
  border: 2px solid;
  border-color: aquamarine;
  border-radius: 8px;
}
body {
  /* width: 100%; */
  width: auto;
  height: 100%;
  background-color: cyan;
  /* color: aquamarine; */
  margin: 5px;
  padding: 15px;
  font-family: sans-serif;
  /* border: 4px solid;order-radius: 10px; */
  /* https://cdn.worldvectorlogo.com/logos/react-native-firebase-1.svg 
  https://cdn.worldvectorlogo.com/logos/vk-1.svg
  https://www.svgrepo.com/show/331634/vk-v2.svg
https://www.svgrepo.com/show/520108/vk.svg
https://www.svgrepo.com/show/447156/vk-outline.svg
https://www.svgrepo.com/show/73770/vk.svg
https://www.svgrepo.com/show/155855/vk-draw-logo.svg
https://www.svgrepo.com/show/349554/vk.svg

  */

  background: url("https://www.svgrepo.com/show/331634/vk-v2.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-attachment: scroll; */
  /* background-attachment: local; */
  /* background-size: cover; */
  text-align: center;
  background-size: 100vh;
  /* background-color:gold */
  background-color: lightblue;
}

nav {
  /* padding: 2px; */
  margin: 0;
  width: 96%;
  padding: 5px;
  border: 4px solid;
  border-radius: 10px;
  border-color: aqua;
  background-color: black;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}
nav:hover {
  border-color: yellow;
}
a {
  text-decoration: none;
  color: aquamarine;
  font-size: 20px;
  font-weight: 1000;
  margin: 5px;
}
a:hover {
  color: red;
}
#ghlink {
  color: red;
}
#ghlink:hover {
  color: green;
}
#lgotbtn {
  background-color: aquamarine;
  font-weight: 1000;
  border-color: aquamarine;
  color: black;
  border-radius: 5px;
}
#lgotbtn:hover {
  background-color: red;
  color: yellow;
  border-color: yellow;
}
/* --------------------------------------------------------------------------- */

#crpst {
  align-self: center;
  width: auto;
  height: auto;
  display: grid;
  background-color: black;
  color: gray;
  border: 4px solid;
  border-radius: 10px;
  border-color: aquamarine;
  margin: 5px;
  padding: 5px;
}

.crpslb {
  color: aquamarine;
}
.crpslb:hover {
  color: yellow;
}

.ld {
  color: aquamarine;
  background-color: black;
  border: 4px solid;
  border-radius: 5px;
  border-color: aquamarine;
  padding: 10px;
}

#pppip {
  background-color: black;
  color: aquamarine;
  width: 20px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  margin-left: 0px;
}
#pppip:hover {
  background-color: red;
  color: yellow;
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
#pppip2 {
  background-color: black;
  color: aquamarine;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border: 2px solid;
  border-color: aquamarine;
}
#pppip2:hover {
  color: yellow;
  border-color: yellow;
}
#crpst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#crpst:hover {
  border-color: yellow;
}

#ipar {
  width: 90%;
  /* height: calc(100vh-50px); */
  /* height: 77%, */
  border: 4px solid;
  border-radius: 10px;
  border-color: aquamarine;
  margin-bottom: 5px;
  margin-top: 5px;
}

#ipar:hover {
  border-color: yellow;
}

#txar {
  width: 90%;
  /* height: calc(100vh-50px); */
  /* height:37%, */
  border: 4px solid;
  border-radius: 10px;
  border-color: aquamarine;
  margin-top: 5px;
  margin-bottom: 8px;
}
#txar:hover {
  border-color: yellow;
}

#lgnbtn {
  align-self: center;
  color: aquamarine;
  background-color: black;
  border-radius: 5px;
  border-color: aquamarine;
  padding: 10px;
}
#lgnbtn:hover {
  color: yellow;
  background-color: red;
  border-color: yellow;
}
#pstbtn {
  align-self: center;
  color: aquamarine;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  border-color: aquamarine;
}
#pstbtn:hover {
  border-color: yellow;
  color: yellow;
  background-color: red;
}
/* ------------------------------------------------------------------------------- */
#otdv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  /* padding: 15px; */
}

#indv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  margin-right: 15px;
  margin: 45px;
}

#indv:hover {
  /* border-color: yellow; */
  background-color: yellow;
}

#ttl {
  /* text-align: center; */
  word-wrap: break-word;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  border-radius: 7px;
  margin-bottom: 4px;
}
#dlbtn {
  background-color: black;
  border-color: aquamarine;
  /* width: 100%; */
  padding-right: 5px;
  /* height: 37px; */
  margin-left: 25px;
  border-radius: 5px;
}
#dlbtn:hover {
  padding-right: 5px;
  background-color: red;
  border-color: yellow;
  color: yellow;
  /* height: 37px; */
  margin-right: 25px;
}
#pgnt {
  background-color: black;
  color: white;
}
#pgnt:hover {
  background-color: red;
  color: yellow;
}
#pst {
  word-wrap: break-word;
  font-size: 16px;
  padding: 10px;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  /* we want scroll bar to appear after certain size of post((suppose post is very large)) */
  height: auto;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 4px;
}

#ath {
  text-align: left;
  font-size: 16px;
  padding: 10px;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  height: 20px;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#ml {
  text-align: left;
  font-size: 16px;
  padding: 10px;
  color: aqua;
  background-color: black;
  width: 90%;
  padding: 15px;
  /* height: calc(100vh-10px); */
  height: 20px;
  border-radius: 7px;
  margin-top: 4px;
  margin-bottom: 2px;
}

hr {
  width: 100%;
  border: 1px solid black;
}

@media (max-width: 768px) {
  #indv {
    width: 100%;
  }
}
.sml {
  color: aquamarine;
  background-color: black;
  border-radius: 5px;
  border-color: aquamarine;
  padding: 6px;
  border: 2px solid;
}
.sml:hover {
  color: yellow;
  border-color: yellow;
}
.posts {
  background-color: black;
  color: aquamarine;
  border-radius: 15px;
  border-color: aquamarine;
  padding: 16px;
  border: 4px solid;
}
.posts:hover {
  border-color: yellow;
}
.inpb {
  border: 2px solid;
  margin: 2px;
  border-color: aquamarine;
  background-color: black;
  color: aquamarine;
  border-radius: 5px;
  padding: 5px;
}
.inpb:hover {
  border-color: yellow;
  color: yellow;
}
.admmsgdv {
  border: 2px solid;
  margin: 2px;
  border-color: aquamarine;
  background-color: black;
  color: aquamarine;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  word-wrap: break-word;
}
.admmsgdv:hover {
  border-color: yellow;
  color: yellow;
}

/* --------react player------------------------------------------------------ */
.container {
  background-color: black;
  padding: 3px;
  border-radius: 10px;
  height: 100%;
  border: 4px solid;
  margin: 3px;
  border-color: aquamarine;
  display: flex;
  /* justify-content: ; */
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 10px; */
  width: 100%;
  max-width: 1080px;
  /* box-sizing: border-box; */
}
.container:hover {
  border-color: yellow;
}
.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 10px; */
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 20px);
  max-width: 1080px; /* Adjust this value based on your desired maximum width */
  /* box-sizing: border-box; */
  border: 3px solid;
  border-color: aquamarine;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  /* margin: 5px;
  background-color: black;
  color: aquamarine;
  padding: 3px; */
  max-height: 400px;
}
.video-wrapper:hover {
  border-color: yellow;
}
/* .react-player {
  width: 40% !important;
  height: 40% !important;
} */

.button-wrapper {
  padding: 10px;
  background-color: black;
  color: aqua;
  border: 2px solid;
  border-color: aquamarine;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.button-wrapper:hover {
  background-color: red;
  border-color: yellow;
  color: yellow;
}
/* -------------------------------------------------------------- */
.ttl {
  color: aquamarine;
  background-color: black;
  border-radius: 2px;
  border-color: aquamarine;
  padding: 1px;
  border: 2px solid;
  word-wrap: break-word;
}
.ttl:hover {
  color: red;
  border-color: red;
  background-color: yellow;
}
.prj {
  color: aquamarine;
  background-color: black;
  border-radius: 8px;
  border-color: aquamarine;
  padding: 5px;
  padding-left: 15px;
  border: 2px solid;
  word-wrap: break-word;
  text-align: left;
}
.prj:hover {
  border-color: yellow;
  color: rgb(56, 7, 99);
  background-color: lightgray;
}
.hvr:hover {
  color: aqua;
  border-color: aqua;
  background-color: black;
  padding: 2px;
  border-radius: 2px;
  border: 2px solid;
}

.mobnavbtn {
  color: aquamarine;
  background-color: black;
  border-radius: 8px;
  border-color: aquamarine;
  padding: 5px;
  border: 2px solid;
  word-wrap: break-word;
  text-align: left;
  align-self: left;
  align-items: left;
  justify-content: left;
  margin-left: 10px;
  margin-right: 10px;
}
.mobnavbtn:hover {
  border-color: yellow;
  color: yellow;
  background-color: red;
}
.navmaindiv {
  position: sticky;
  top: 0px;
  z-index: 999;
}
